@page "/"

<h1>Hello, world!</h1>

<p>Welcome to Michael's Blog!! We've got all sorts of fun content for you to enjoy, so take a look around. I'd recommend looking through the navbar on the left to start.</p>

